<div class="layout">
  <app-header></app-header>
  <main>
    <section>
      <div class="shopka-page">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </section>
  </main>
</div>
