@import "typography";
@import "colors";
@import "variables";
@import "mixins";

.main-btn {
  width: 100%;
  height: 3rem;


  font-family: $i-bold;
  border: 0;
  outline: 0;
  background-color: $CornflowerBlue;
  color: $white;
  @include flexCenter;
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem #0003;
  }
}
