h1 {
  font-size: 3rem; //48px
}

h2 {
  font-size: 1.75rem; //28px
}
h3 {
  font-size: 1.25rem; //20px
}
p {
  font-size: 1rem; //16px
}
span {
  font-size: 0.875rem; //14px
}

small {
  font-size: 0.938rem; //12px
}
