@import "colors";
@import "typography";

.shopka {
  &-form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-label {
    display: block;
    color: $lightBlue;
    font-family: $i-bold;
    font-size: 1.25rem; //20px
  }
  &-input {
    width: 100%;
    border-radius: 92px;
    border: 2px solid rgba(0, 0, 0, 0.49);
    outline: 0;
    width: 25.625rem;
    height: 3.75rem;
    text-indent: 10px;
    font-size: 1.25rem; //20px
    display: block;
  }
}
.error-message {
  width: 105%;
  position: absolute;
  bottom: -1.2rem;
  color: $error;
  font-size: 0.7rem;
  .message {
    width: 100%;
    display: block;
    font-family: $i-regular;
    + .message {
      position: absolute;
    }
  }
}
