/* Screen Sizes */
// ex Small Screens
@mixin x-small-screen {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

// Small Screens
@mixin small-screen {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

// Medium Screens
@mixin medium-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

// Normal Screens
@mixin normal-screen {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

// Large Screens
@mixin large-screen {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// X Large Screens
@mixin xlarge-screen {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

// Extra Large Screens
@mixin xxlarge-screen {
  @media only screen and (min-width: 1600px) {
    @content;
  }
}
