/* Inter Regular Font */
@font-face {
  font-family: "interRegular";
  src: url("../../fonts/inter/regular/Inter-Regular.eot"),
    url("../../fonts/inter/regular/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/inter/regular/Inter-Regular.woff") format("woff"),
    url("../../fonts/inter/regular/Inter-Regular.ttf") format("truetype");
}

/* Inter Medium Font */
@font-face {
  font-family: "interMedium";
  src: url("../../fonts/inter/medium/Inter-Medium.eot"),
    url("../../fonts/inter/medium/Inter-Medium.woff2") format("woff2"),
    url("../../fonts/inter/medium/Inter-Medium.woff") format("woff"),
    url("../../fonts/inter/medium/Inter-Medium.ttf") format("truetype");
}

/* Inter SemiBold Font */
@font-face {
  font-family: "interSemibold";
  src: url("../../fonts/inter/semi-bold/Inter-SemiBold.eot"),
    url("../../fonts/inter/semi-bold/Inter-SemiBold.woff2") format("woff2"),
    url("../../fonts/inter/semi-bold/Inter-SemiBold.woff") format("woff"),
    url("../../fonts/inter/semi-bold/Inter-SemiBold.ttf") format("truetype");
}

/* Inter Bold Font */
@font-face {
  font-family: "interBold";
  src: url("../../fonts/inter/bold/Inter-Bold.eot"),
    url("../../fonts/inter/bold/Inter-Bold.woff2") format("woff2"),
    url("../../fonts/inter/bold/Inter-Bold.woff") format("woff"),
    url("../../fonts/inter/bold/Inter-Bold.ttf") format("truetype");
}

/* Inter  Font Family */
$i-regular: "interRegular", sans-serif; //regular

$i-medium: "interMedium", sans-serif; //Medium

$i-semiBold: "interSemibold", sans-serif; //semiBold

$i-bold: "interBold", sans-serif; //Bold
