<div class="login">
  <!-- Row Start Here -->
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="left-side">
        <img src="assets/imgs/login/login-bg.png" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="right-side">
        <h1>You<span>Topia</span></h1>
        <a class="gmail-login">
          <img src="assets/imgs/login/google-svgrepo-com.svg" alt="" />
          Login through Google
        </a>
        <h3>Or</h3>
        <!-- Form Container Start -->
        <div class="form-container">
          <form [formGroup]="loginForm">
            <div class="shopka-form-group">
              <label class="shopka-label">Email*</label>
              <input
                formControlName="email"
                class="shopka-input"
                type="email"
              />
              <div
                class="error-message"
                *ngIf="
                  loginForm.get('email')?.invalid &&
                  loginForm.get('email')?.touched
                "
              >
                <span
                  *ngIf="formContarols['email'].errors?.['required']"
                  class="message"
                >
                  Email is required
                </span>
                <span
                  *ngIf="formContarols['email'].errors?.['notEmail']"
                  class="message"
                >
                  Email is Invalid
                </span>
              </div>
            </div>
            <div class="shopka-form-group">
              <label class="shopka-label">Password*</label>
              <input
                formControlName="password"
                class="shopka-input"
                type="password"
              />
              <div
                class="error-message"
                *ngIf="
                  loginForm.get('password')?.invalid &&
                  loginForm.get('password')?.touched
                "
              >
                <span
                  *ngIf="formContarols['password'].errors?.['required']"
                  class="message"
                >
                  password is required
                </span>
                <span
                  *ngIf="formContarols['password'].errors?.['minlength']"
                  class="message"
                >
                  Password should be more than 6 characters
                </span>
              </div>
            </div>

            <a class="forget"> Forgot your <span>Password?</span> </a>
            <div class="btn-container">
              <button class="main-btn" (click)="login()">Login</button>
            </div>
          </form>
        </div>
        <!-- Form Container End -->
      </div>
    </div>
  </div>
  <!-- Row End -->
</div>
