@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/base/colors";
@import "../../../../../assets/styles/base/typography";
@import "../../../../../assets/styles/base/mixins";

.login {
  min-height: 100vh;
  .left-side {
    display: none;
    @include medium-screen {
      display: block;
    }
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .right-side {
    height: 100%;
    @include yCenter;
    flex-direction: column;
    margin-top: 5rem;
    @include medium-screen {
      margin-top: 0;
    }
    h1 {
      color: $robinEggBlue;
      font-family: $i-bold;
      span {
        color: #3f3f3f;
        font-size: inherit;
      }
    }
    .gmail-login {
      @include yCenter;
      font-size: 1.25rem; // 20px
      color: $silver;
      border: solid 1px $silver;
      cursor: pointer;
      padding: 0.5rem 2rem;
      margin: 2rem 0 0.5rem 0;
      border-radius: 42px;
      font-family: $i-bold;
      img {
        margin-right: 0.5rem;
      }
    }
    h3 {
      position: relative;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 70px;
        height: 1px;
        margin-inline-start: 2.5rem;
        background-color: $black;
      }
    }
    .forget {
      font-family: $i-bold;
      cursor: pointer;
      span {
        color: $lightBlue;
        font-size: inherit;
      }
    }
    .btn-container {
      margin-top: 2.5rem;
      @include xCenter;
      .main-btn {
        @include medium-screen {
          width: 20.938rem;
          height: 3.125rem;
        }

        border-radius: 65px;
      }
    }
  }
}
