@import "app";
/* Some Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none !important;
}
/* HTML Styles Start Here */
html {
  font-size: 16px;
  @include x-small-screen {
    font-size: 12px;
  }

  @include small-screen {
    font-size: 13px;
  }

  @include medium-screen {
    font-size: 14px;
  }

  @include normal-screen {
    font-size: 15px;
  }

  @include large-screen {
    font-size: 16px;
  }

  @include xlarge-screen {
    font-size: 17px;
  }
}
/* Body Styles Start Here */
body {
  min-width: 320px;
  overflow-x: hidden;
  line-height: 1.5;
  // If App Will Be Mult Lang
  &.rtl {
    direction: rtl;
    text-align: right;
  }
}
/* App Layout Container Styles Start Here */
.shopka-container {
  padding-left: 4.5%;
  padding-right: 4.5%;
  @include medium-screen {
    // max-width: 87%;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}
/* App Main Layout Styles Start Here */
.layout {
  @include medium-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    main {
      max-width: 100%;
      min-height: 100%;
      margin-top: -1px;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;
      section {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        overflow: hidden;
        position: relative;
        .shoka-page {
          min-width: 100%;
          max-width: min-content;
          flex: 1 0 auto;
          min-height: calc(100vh - 5rem);
        }
      }
    }
  }
}
